<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head lang="en" th:replace="admin/fragments/header :: header"></head>
<body>
<nav lang="en" th:replace="admin/fragments/navbar :: navbar"></nav>

<div class="container-fluid">
    <div class="row">
        <nav lang="en" th:replace="admin/fragments/sidebar :: sidebar(current='user')"></nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div th:if="${failure}" class="alert alert-danger" role="alert" th:text="${failure}"></div>
            <div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert" th:text="${success}"></div>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">User</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <a class="btn btn-sm btn-outline-secondary" th:href="@{/admin/user/new}">New</a>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Company</th>
                        <th>Operation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${userList}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.company == null} ? 'Super Administrator' : ${user.company.name}"></td>
                        <td>
                            <div class="btn-toolbar mb-2 mb-md-0">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-secondary" th:href="@{/admin/user/{id}(id=${user.id})}">Update</a>
                                    <a class="btn btn-sm btn-outline-secondary" th:href="@{/admin/user/{id}/delete(id=${user.id})}" onClick="return confirm('Are you sure to delete this user?')">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<div lang="en" th:replace="admin/fragments/footer :: footer"></div>
</body>
</html>