<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head lang="en" th:replace="admin/fragments/header :: header"></head>
<script th:src="@{/js/jquery.min.js}"></script>
<body>
<nav lang="en" th:replace="admin/fragments/navbar :: navbar"></nav>

<div class="container-fluid">
    <div class="row">
        <nav lang="en" th:replace="admin/fragments/sidebar :: sidebar(current='interview')"></nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div th:if="${failure}" class="alert alert-danger" role="alert" th:text="${failure}"></div>
            <div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert" th:text="${success}"></div>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Interview</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <a class="btn btn-sm btn-outline-secondary" th:classappend="${page <= 0} ? 'disabled'" th:href="@{/admin/interview(page=${page-1})}"><i data-feather="chevron-left"></i> Previous</a>
                        <a class="btn btn-sm btn-outline-secondary" th:href="@{/admin/interview(page=${page+1})}">Next <i data-feather="chevron-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Company</th>
                        <th>WeChat ID</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Finished</th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="interview : ${interviewList}">
                        <td th:text="${interview.id}"></td>
                        <td th:text="${interview.company.name}"></td>
                        <td th:text="${interview.wxId}"></td>
                        <td th:text="${interview.name}"></td>
                        <td th:text="${interview.phone}"></td>
                        <td th:text="${interview.finished}"></td>
                        <td th:text="${interview.score}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<div lang="en" th:replace="admin/fragments/footer :: footer"></div>
</body>
</html>